@import model.Tweet
@(userSearchQuery: String, tweets: List[Tweet], tweetsAsJson: String, sentimentCount: String)

<!--
    The tweets variable passed into graphs will be a json object that meets the needs of the users filtering.
    Spark will handle this data management prior to the data being passed into this view.
    Should the user choose to filter the data differently the data will be restructured to meet this need.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/graph.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/thumbs_up.png")">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyADMNYCxIFdeAZgRa2hvkV1mlQP8T8Ho4U"></script>
    <title>Sentitweet</title>
    <script src="@routes.Assets.versioned("javascripts/graph.js")" type="text/javascript"></script>
  </head>
  <body>
    <h3>Graph results for: @userSearchQuery</h3>
    <script>
      var jsonTweets = @Html(tweetsAsJson);
      var sentimentCount = @Html(sentimentCount)
      createChart(jsonTweets, sentimentCount, "Sentiment");
    </script>
    <div id="colorInformation">
        <span style="color:red;font-size: 20px;">Red Marker = Negative</span><br />
        <span style="color:#00F050; font-size: 20px;">Green Marker = Positive</span><br />
        <span style="color:blue; font-size: 20px;">Blue Marker = Neutral </span>
    </div>
    <div id="resultsCounter"></div>
    <div id="googleMap"></div>
    <br />
    <div id="tweetsTableWithSentiment">
      <table id="tweetsTableWithSentiment">
      @for(tweet <- tweets) {
        <tr>
          <td>@tweet.username</td>
          <td>@tweet.text</td>
          <td>@tweet.sentiment</td>
        </tr>
      }
      </table>
    </div>
  </body>
</html>