@import model.Tweet
@(tweets: List[Tweet], searchForm: Form[String])(implicit messages: Messages)

@main("SentiTweet") {

    @*<form id="testForm" action="@routes.Application.cleanData()" method="GET">*@
        @*<input id="testBtn" type="submit" value="Clean Data">*@
    @*</form>*@

    @* <form id="clearResultsForm" action="@routes.Application.clearResults()">
        <input id="clearResultsBtn" type="submit" value="Clear Results">
    </form> *@

    @* <form id="sentimentForm" action="@routes.Application.getTweetSentiment()" method="get">
        <input id="sentimentBtn" type="submit" value="Sentiment">
    </form> *@

    <div class="searchFormDiv">
        <form id="searchForm" action="@routes.Application.queryUserSearch()" method="post">
            <p id="searchText"><b>Search for Tweets</b></p>
            <input id="inputField" type="text" name="userQuery">
            <input id="searchButton" type="submit" value="Search">
        </form>
    </div>

    <div class="graphFormDiv">
        <form action="@routes.Application.graphButtonClicked()">
            <input id="graphButton" type="submit" value="Graph Results"/>
        </form>
    </div>

    @* Save results button hidden for now. *@

    <div class="saveResultsDiv" style="display: none">
        <form action="@routes.Application.saveSearchResults()">
            <input type="submit" id="saveResultsButton" value="Save Results"/>
        </form>
    </div>

    <p id="resultsText">Search returned @tweets.size results.</p>
    <table id="tweetsTable">
        @for(tweet <- tweets) {
            <tr>
                <td>@tweet.username</td>
                <td>@tweet.date</td>
                <td>@tweet.text</td>
            </tr>
        }
    </table>

    <script>
    /**
     * Show only necessary elements on first load of web app.
     * After results have been gathered then the other options will be displayed.
     */
        window.onload = function() {
            var tweetsSize = @tweets.size;

            var table = document.getElementById("tweetsTable");
            var resultText = document.getElementById("resultsText");
            var graphButton =  document.getElementById("graphButton");

            if(tweetsSize > 0) {
                table.style.display = "table";
                resultText.style.visibility = "visible";
                graphButton.style.visibility = "visible";
            } else {
                table.style.display = "none";
                resultText.style.visibility = "hidden";
                graphButton.style.visibility = "hidden";
            }
        };
    </script>
}
